/* Start tailwindcss-like classes */

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: var(--pico-spacing);
}

.h-dvh {
  height: 100dvh;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

/* End tailwindcss like classes */

.header-color {
  color: var(--pico-h1-color);
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar-header content-header members-header"
    "sidebar        content        members       ";
  row-gap: 1px;
  background-color: var(--pico-muted-border-color);
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    column-gap: 1px;
  }
}

.wrapper-item {
  background-color: var(--pico-background-color);
}

.sidebar-header {
  grid-area: sidebar-header;
  padding: calc(var(--pico-spacing) * 0.5) var(--pico-spacing);
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: var(--pico-spacing);
  background-color: var(--pico-code-background-color);
}

@media (min-width: 768px) {
  .sidebar-header {
    display: flex;
  }
}

.sidebar {
  grid-area: sidebar;
  padding: var(--pico-spacing);
  background-color: var(--pico-code-background-color);
  display: none;
  flex-direction: column;
  gap: calc(var(--pico-spacing) * 0.5);
}

@media (min-width: 768px) {
  .sidebar {
    display: flex;
  }
}

.sidebar p {
  margin-bottom: calc(var(--pico-spacing) * 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-item {
  display: flex;
  align-items: center;
  gap: calc(var(--pico-spacing) * 0.5);
  flex-wrap: nowrap;
}

.chat-button {
  border: none;
  padding: calc(var(--pico-spacing) * 0.5);
  box-shadow: none;
  color: var(--pico-code-kbd-background-color);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  /* TODO: is there really no other way other than "width: 0" to make it shrink? */
  width: 0;
}

.chat-button:is(:hover) {
  color: var(--pico-contrast-hover);
  background-color: var(--pico-contrast-focus);
}

.chat-button.active {
  color: var(--pico-contrast-hover);
  background-color: var(--pico-contrast-focus);
}

.copy-chat-id-button {
  display: flex;
  align-items: center;
  border: none;
  padding: calc(var(--pico-spacing) * 0.5);
  box-shadow: none;
}

.content-header {
  grid-area: content-header;
  padding: calc(var(--pico-spacing) * 0.5) var(--pico-spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--pico-spacing);
  /* TODO: figure out how to do without "min-width: 0" here  */
  min-width: 0;
}

.header-right {
  display: flex;
  align-items: center;
  gap: calc(var(--pico-spacing) * 0.5);
}

.header-button {
  border: none;
  padding: calc(var(--pico-spacing) * 0.5);
  box-shadow: none;
  color: var(--pico-h1-color);
  display: flex;
  align-items: center;
}

.header-button:is(:hover, :active, :focus) {
  color: var(--pico-contrast-hover);
}

.icon-tabler-moon {
  display: none;
}

.icon-tabler-sun {
  display: inline;
}

[data-theme="dark"] .icon-tabler-moon {
  display: inline;
}

[data-theme="dark"] .icon-tabler-sun {
  display: none;
}

@media (min-width: 768px) {
  #menu-button {
    display: none;
  }
}

#menu-button summary::after {
  content: none;
}

#menu-button summary+ul {
  left: auto;
  right: 0;
}

@media (min-width: 768px) {
  #back-button {
    display: none;
  }
}

.menu-item-button {
  width: 100%;
  margin: calc(var(--pico-form-element-spacing-vertical) * -.5) calc(var(--pico-form-element-spacing-horizontal) * -1);
  padding: calc(var(--pico-form-element-spacing-vertical) * .5) var(--pico-form-element-spacing-horizontal);
  color: var(--pico-dropdown-color);
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  border-radius: 0;
  text-align: left;
  box-sizing: content-box;
}

.menu-item-button:hover {
  background-color: var(--pico-dropdown-hover-background-color);
}

.ws-connection-status {
  display: flex;
  align-items: center;
}

.ws-connection-status .icon {
  margin-right: calc(var(--pico-spacing) * 0.5);
}

.ws-connection-status .icon {
  color: var(--pico-form-element-valid-active-border-color);
}

.ws-connection-status.offline .icon {
  color: var(--pico-form-element-invalid-active-border-color);
}

#chat-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

#chat-placeholder {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-placeholder.hidden {
  display: none;
}

#chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

#chat.hidden {
  display: none;
}

.messages {
  padding: var(--pico-spacing);
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  gap: calc(var(--pico-spacing) * 0.5);
  overflow: auto;
}

.message:last-child {
  margin-top: auto;
}

.message-header {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--pico-spacing) * 0.5);
}

.message-input-wrapper {
  padding: var(--pico-spacing);
}

.message-input-wrapper fieldset {
  box-shadow: none;
}

.message-input {
  resize: none;
}

.message-input:is(:active, :focus) {
  box-shadow: none;
  background-color: var(--pico-form-element-background-color);
  /* removes strange border between textarea and button  */
  z-index: 0;
  border-color: var(--pico-form-element-border-color);
}

.message-form-button {
  background-color: var(--pico-form-element-background-color);
  border-color: var(--pico-form-element-border-color);
  border-left: none;
  padding-top: var(--pico-form-element-spacing-vertical);
  padding-bottom: var(--pico-form-element-spacing-vertical);
  display: flex;
  align-items: center;
  color: var(--pico-h1-color);
}

.message-form-button.send-files {
  padding-left: calc(var(--pico-form-element-spacing-horizontal) * 0.5);
  padding-right: calc(var(--pico-form-element-spacing-horizontal) * 0.25);
  border-right: none;
}

.message-form-button.send-message {
  padding-left: calc(var(--pico-form-element-spacing-horizontal) * 0.25);
  padding-right: calc(var(--pico-form-element-spacing-horizontal) * 0.5);
}

.message-form-button:is(:hover, :active, :focus) {
  color: var(--pico-contrast-hover);
}

.message-form-button svg {
  width: 1.25rem;
}

#files-message-form input {
  margin-bottom: 0;
}

#send-files-submit-button {
  width: auto;
  margin-bottom: 0;
}

.members-header {
  grid-area: members-header;
  padding: calc(var(--pico-spacing) * 0.5) var(--pico-spacing);
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: var(--pico-spacing);
  background-color: var(--pico-code-background-color);
}

@media (min-width: 768px) {
  .members-header {
    display: flex;
  }
}

.members {
  grid-area: members;
  padding: var(--pico-spacing);
  background-color: var(--pico-code-background-color);
  display: none;
}

@media (min-width: 768px) {
  .members {
    display: block;
  }
}

.members p {
  margin-bottom: calc(var(--pico-spacing) * 0.5);
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--pico-spacing);
}

.message-skeleton {
  padding-top: calc(var(--pico-spacing) * 0.5);
  padding-bottom: calc(var(--pico-spacing) * 0.5);
}

.message-skeleton-item {
  background-color: var(--pico-color-grey-200);
}

[data-theme="dark"] .message-skeleton-item {
  background-color: var(--pico-color-grey-700);
}

.message-skeleton-item.author {
  height: 0.625rem;
  border-radius: 0.3125rem;
  width: 12rem;
}

.message-skeleton-item.datetime {
  height: 0.5rem;
  border-radius: 0.25rem;
  width: 8rem;
}

.message-skeleton-item.message {
  margin-top: calc(var(--pico-spacing) * 0.5);
  height: 0.5rem;
  border-radius: 0.25rem;
  max-width: 20rem;
}

.error-text {
  color: var(--pico-color-red-500);
}

[data-theme=dark] .error-text {
  color: var(--pico-color-red-600);
}